[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
recommonmark = "*"
"sphinxcontrib.mermaid" = "*"
# testing
pytest = "*"
pytest-cov = "*"
# interactive python
ipython = "*"
black = "*"
pylint = "*"

[packages]
pobm = {editable = true, path = "."}
# Don't forget to also declare deps in setup.cfg
# if you plan to distribute as a library.
numpy = "~=1.19.0"
scipy = "~=1.5.1"
lempel-ziv-complexity = "~=0.2.2"

[pipenv]
allow_prereleases = true
